.total{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.freccia, .manuale {
    padding: 2em;    
    width: 80%;
}

h1 {
    text-align: center;
    font-size: 4em;
}

.mappa {
    margin: 1em;
    width: 40%;
}

.base{
    width: 30em;
    padding: 2em;
}

.cambioguida{
    width: 15%;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
    border-radius: 35px; 
}
.listaTask{
    margin-top: 1em;
}
.guida{
    margin: 1% 2% 3% 2%;
}