<div class="total">
    <h1>Benvenuto nel tuo muletto</h1>   
    
        
    <div class = "taskList">
        <app-tasklist></app-tasklist>
    </div>
    <div class = "startb">
        <app-startbutton></app-startbutton>
    </div>
    
    <div class = "mappa">
        <app-map></app-map>
    </div>

    <button class="cambioguida" (click)="cambio()">Metti in guida {{guida}}</button>

    <div class="guida">
    <div *ngIf="automatica; else manuale">
        <h1>Guida Automatica</h1>
        <div class="arrows">
            <app-arrows></app-arrows>
        </div>
    </div>
    <ng-template #manuale>
        <div class="manuale">
            <h1> Guida Manuale </h1>
            <app-guidamanuale></app-guidamanuale>
        </div>
    </ng-template>
    </div>
    
    

</div>

